<!-- Contact Start -->
<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Travaillons ensemble ! </h1>
            </div>
            
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">Adresse:</p>
                <h3 class="fw-bold">Djadjo, Abomey-calavi, Bénin</h3>
                <hr class="w-100">
                <p class="mb-2">Téléphone:</p>
                <h3 class="fw-bold">+229 (01) 94008769 </h3>
                <hr class="w-100">
                <p class="mb-2">Email:</p>
                <h3 class="fw-bold"><span>{{ email }}</span>
                </h3>
                <hr class="w-100">
                <p class="mb-2">Suivez moi:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-p me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-p me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-p me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-p me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <section id="contact" class="py-5 bg-light">
                    <div class="container">
                      <h2 class="text-orange text-center mb-4">Me Contacter</h2>
                      <form (ngSubmit)="sendEmail()" #contactForm="ngForm">
                        <div class="mb-3">
                          <input type="text" name="user_name" [(ngModel)]="form.name" required class="form-control" placeholder="Nom">
                        </div>
                        <div class="mb-3">
                          <input type="email" name="user_email" [(ngModel)]="form.email" required class="form-control" placeholder="Email">
                        </div>
                        <div class="mb-3">
                          <textarea name="message" [(ngModel)]="form.message" required class="form-control" placeholder="Message" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-orange">Envoyer</button>
                      </form>
                    </div>
                  </section>
                  
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
