.text-orange {
    color: #FFA500;
  }
  
  .btn-orange {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-orange:hover {
    background-color: #e69500;
  }
  
.text {
    color: var(--primary);
}
.btn-primary{
    background-color:var(--primary);
}